html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f4f7;
}

.logo{
    margin: 10px;
}

.formulario{
    margin: 10px;
}

.principal{
    display: flex;g
    flex-wrap: nowrap;
}